Repository unb-mds/2023-2-Squad05-TesouroMineiro, pull requests merged in 2023-12, with the labels that each got.

#100 Pagina dados
  .gitignore
  frontend/src/Analises/CredSup.json
  frontend/src/components/Dados/Graficos.js
Labels: Front-end

#103 Mudanças nas Páginas do Front
  busca-keywords/export.py
  frontend/src/Components/Dados/Graficos.js
  frontend/src/Pages/Creditos.js
  frontend/src/Pages/Dados.js
  frontend/src/Pages/Sobre.css
  frontend/src/components/Base.js
  frontend/src/components/Creditos/CabecalhoCreditos.js
  frontend/src/components/Creditos/IntegrantesA.js
  frontend/src/components/Creditos/IntegrantesB.js
  frontend/src/components/Creditos/cabecalhoCreditos.css
  frontend/src/components/Creditos/integrantes.css
  frontend/src/components/Menu/Cabecalho.js
  frontend/src/components/Menu/Corpo.js
  frontend/src/components/Menu/cabecalho.css
  frontend/src/components/Menu/corpo.css
  frontend/src/components/base.css
Labels: Front-end

#105 Retirando diretório temporário
  busca-keywords/tests/__pycache__/__init__.cpython-311.pyc
  busca-keywords/tests/__pycache__/test_buscar_trechos.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_create_json.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_criar_pasta_destino.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_dados_completos.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_extrair_nome_municipio.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_iterar_arquivos.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_processar_arquivo.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_processar_trechos.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_salvar_trechos.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/dados_test/MUNICIPIOX.json
  busca-keywords/tests/municipios_test/Municipio1.json
  busca-keywords/tests/municipios_test/Municipio2.json
  busca-keywords/tests/test_dados_completos.py
  busca-keywords/tests/test_extracao_trechos/test_trechos/MUNICIPIOX-test_file-12-Janeiro-2023_trechos.txt
Labels: bug, Back-end

#106 Erros nos testes com geração aleatória de JSON
  .coverage
  busca-keywords/__pycache__/trechos_municipios.cpython-311.pyc
  busca-keywords/tests/__pycache__/test_buscar_trechos.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_dados_completos.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/dados_test/MUNICIPIOX.json
  busca-keywords/tests/municipios_test/Municipio1.json
  busca-keywords/tests/municipios_test/Municipio2.json
  busca-keywords/tests/test_buscar_trechos.py
  busca-keywords/tests/test_dados_completos.py
  busca-keywords/tests/test_extracao_trechos/test_trechos/MUNICIPIOX-test_file-12-Janeiro-2023_trechos.txt
  busca-keywords/trechos_municipios.py
Labels: bug, Back-end

#110 Limpeza do arquivo JSON.
  busca-keywords/__pycache__/dados_completos.cpython-311.pyc
  busca-keywords/__pycache__/export.cpython-311.pyc
  busca-keywords/__pycache__/trechos_municipios.cpython-311.pyc
  busca-keywords/dados_completos.py
  busca-keywords/tests/__pycache__/test_buscar_trechos.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_dados_completos.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_processar_arquivo.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_processar_trechos.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/__pycache__/test_salvar_trechos.cpython-311-pytest-7.4.0.pyc
  busca-keywords/tests/dados_test/MUNICIPIOX.json
  busca-keywords/tests/municipios_test/Municipio1.json
  busca-keywords/tests/municipios_test/Municipio2.json
  busca-keywords/tests/test_dados_completos.py
  frontend/src/Analises/CredSup.json
Labels: Back-end, Front-end

#113 Mudança na pagina de dados
  frontend/src/Pages/Dados.css
  frontend/src/Pages/Dados.js
Labels: Front-end
